@model Ica.StackIt.Interactive.WebPortal.Models.Product.VersionViewModel

@{
	ViewBag.Title = "AddVersion";
}

<h1>Add Version</h1>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new {@class = "text-danger"})
		
		@Html.HiddenFor(x => Model.ProductId)

		<div class="form-group">
			@Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
				@Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
			</div>
		</div>
		
		<div class="form-group">
			@Html.LabelFor(model => model.IamRole, new {@class="control-label col-md-2"})
			<div class="col-md-10">
				@Html.EditorFor(model => model.IamRole, new{htmlAttributes = new{@class="form-control"}})
				@Html.ValidationMessageFor(model=>model.IamRole, "", new{@class="text-danger"})
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>